@charset "utf-8";

/***** 모달 *****/
#modalContainer {position:absolute;top:0;left:0;width:100%;height:100%;z-index:999000;}

#modalOverlay {
	position:fixed;width:inherit;height:inherit;
	-webkit-animation:fadeInModal 0.5s;
	animation:fadeInModal 0.5s;
	background:rgba(0,0,0,0.5);
}

.modal-close-motion {-webkit-animation:fadeOutModal 0.5s;animation:fadeOutModal 0.5s;}

@-webkit-keyframes fadeInModal {
	from {opacity:0;}
	  to {opacity:1;}
}

@keyframes fadeInModal {
	from {opacity:0;}
	  to {opacity:1;}
}


@-webkit-keyframes fadeOutModal {
	from {opacity:1;}
	  to {opacity:0;}
}

@keyframes fadeOutModal {
	from {opacity:1;}
	  to {opacity:0;}
}


.common-modal-layout {position:fixed;top:15%;right:0;left:0;margin:0 auto;z-index:999999;}
.common-modal-wrap {width:25%;height:50%;padding:25px;box-sizing:border-box;box-shadow:0 0 10px #666;background:#fff;}

#btnCloseModal {position:absolute;top:25px;right:25px;color:#fff;background:#333;}
#btnCloseModal:hover {opacity:.5;}